doctype html
html
    head
        include ./header.pug
    body
        form(method='POST' action='/sign_in')
            input#name(type="text", placeholder="Peter")
            input#password(type="password")
            input(type="submit")
